.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hidden{
    display: none;
}

.center{
    margin: auto;
    text-align: center;
}

.cover{
    background-color: rgba(37, 42, 42, 0.8);
    width: 100%;
    min-width: 320px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-1{
    font-size: 1.2rem;
}

.icon-2{
    font-size: 1.4rem;
}

.icon-3{
    font-size: 1.6rem;
}